:root {
    --negro: #000;
    --verdee: #a09824;
    --blanco: #fff;
    --moradouva: #382030;
}

@font-face {
    font-family: 'Chonky_Bunny';
    src: url('fonts/Chonky_Bunny.ttf') format('truetype');
}

@font-face {
    font-family: 'chill';
    src: url('fonts/Chill\ Chrip\ Free.otf') format('truetype');
}